        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>اهداف</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
									ما برای برندهای مستعد یا بزرگ که می‌خواهند با هزینه مناسب به نهایت اثربخشی دستیابی پیدا کنند کمک می کنیم تا از طریق تبلیغات خلاق و شناخت بازار (مارکتینگ) و استراتژیهای علمی به هدفی بزرگ‌ تر از  بزرگ‌ تر از آینده‌ی ذهنی خودشان برسانیم.
									</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>توانمندی ها</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
										زندگی رسم خوشایندی دارد برندها برای بهتر شدن زندگی شروع به تولید و توزیع محصولات  خود می‌کنند. شما هم  می توانید با روشهای "خلاق و صادقانه "ماخود را در بین مشتریان مورد نظر ترویج کنید. ما از تعهد خود برای خلق آینده‌ای بهتر و آشنا تر برای برندهای  شما انرژی خواهیم گرفت. تعهد ما خلق آینده‌ای متفاوت تر و ایده آل تر از تصور شما برای برندتان است. هر چه برند شما برای جامعه امروز موثرتر و کارآمدتر باشد، انگیزه ما هم  بیشتر خواهد بود.
									</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>خلق و رشد برند</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
										 با گسترش پیچیدگی‌های اقتصادی امروز برندها نیازمند این هستند که به شکلی ایده آل معرفی شوند. ما به شما کمک خواهیم کرد تا پس از تأیید محصولات و یا خدماتتان با پیشنهادهای منحصربه ‌فرد در شناساندن و معرفی برندها در توسعه ، با روش‌های تاثیرگذار و اساسی نشان دهید . ما  با بهره‌ مندی از «زیبایی»، «خلاقیت»،   رونق کسب‌وکار، برند خود را به گونه‌ای حس معجزه آسایی را در مخاطب خود ایجاد کنید.
									</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>از آغاز تا امروز</h4>
                                    <h4 class="subheading"></h4>
                                </div>
                                <div class="timeline-body">
                                    <p>
										موسسه فرهنگی هنری سایان گرافیک در سال ١٣87 با تکیه بر تجربه‌ی 6 ساله خود با توجه به  فرهنگ مردم و روانشناسی مخاطب ،کار خود را آغاز کرد. موسسه‌ای که باهدف ارائه خدماتی اثربخش، خلاق و علمی برای برند سازی و انجام شیوه هایی نوین تلاش کرده است.
									</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
