<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/blank.jpeg" data-src="/img/logos/envato.jpg" class="lazy img-responsive img-center" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/blank.jpeg" data-src="/img/logos/designmodo.jpg" class="lazy img-responsive img-center" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/blank.jpeg" data-src="/img/logos/themeforest.jpg" class="lazy img-responsive img-center" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="/img/blank.jpeg" data-src="/img/logos/creative-market.jpg" class="lazy img-responsive img-center" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>