<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">&copy; by SayanGraphic - All rights reserved</span>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="assets">
        <link rel="stylesheet" href="{{ '/css/styles.css' | prepend: site.baseurl }}">
        <script async src="{{ '/js/scripts.js' | prepend: site.baseurl }}"></script>
    </div>
</footer>
