<!-- Services Section -->
    <section id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">سرویس‌ها</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-primary">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-road fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-primary"><h4 class="service-heading">گرافیک محیطی چشمگیر</h4></a>
                    <p>گرافیك محیطی یكی از مهمترین عوامل تبلیغ و رسوندن پیام با دانش اجتماعی و فرهنگی محیط اطرافمونه که   فضایی مطلوب و دلنشینی رو  برای کسایی که در جامعه نقش موثری دارن  بوجود میاره. خانه ای كه توش زندگی می كنیم خیابونی كه کنارش قدم می زنیم میتونه پیغام ما رو به رهگذرا برسونه.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-success">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-success"><h4 class="service-heading">لوگویی بی نظیر</h4></a>
                    <p>لوگو یا نشانه تاثیر خیلی زیادی میتونه رو مخاطب  شما بزاره ، در واقع هر جا که برید  در واقع این لوگوی شماست که از برندتون یه جای پا میزاره و دیگران و به دنبال خودش میکشونه پس چقدر مهمه  که این لوگو بادقت و تخصصش در  مخاطب خاص و عام ما اثر بزاره.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-danger">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-danger"><h4 class="service-heading">سایتی چشمگیر</h4></a>
                    <p>داشتن یک سایت امروزه به عنوان یک برد به حساب میاد تا بتونی خیلی راحت کل امور و محصولات و معرفی کنی و سریع همه کارات و پیش ببری و واسه خودت و مخاطبت و وقت رو بخری.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-warning">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-warning"><h4 class="service-heading">اوراق اداری</h4></a>
                    <p>اوراق اداری شان و شخصیت یه برند  رو معرفی میکنه تا بتونه در تمام مراحل ارتباط با مشتریان تاثیر مثبتی  رو با ریتمی که داره  بوجود بیاره  و حس اعتماد و داشته باشه.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-info">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-info"><h4 class="service-heading">کاتالوگی ایده آل</h4></a>
                    <p>درواقع کاتالوگ یه مجموعه از اطلاعات محصول ماست که فروشنده و خریدار از طریق اون با محصول ما آشنا میشن ،زیبایی طراحی  کاتالوگ در کنار اطلاعاتش باعث میشه که مخاطب با دیدن محصول تجسم ایده آلی تو ذهنش ایجاد بشه و به استفاده ازش فکر کنه.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-primary">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-primary"><h4 class="service-heading">عکس های ماندگار</h4></a>
                    <p>داشتن یه عکس خاص باعث میشه دیگران حتی با یه بار نگاه کردن اون و واسه همیشه تو ذهنشون حک کنن و هروقت دنبال نیازشون بودن اولین تصویر عکس ما باشه که تو ذهنشون شکل میگیره.</p>
                </div>
            </div>
        </div>
    </section>