<!-- Services Section -->
    <section id="services">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">سرویس‌ها</h2>
                    <h3 class="section-subheading text-muted text-justify">
                 آژانس تبلیغاتی سایان گرافیک یک شرکت خلاق است که خدمات خود را بر سه اصل خلاقیت، همکاری و سرعت ارائه میدهد.تمامی تبلیغات و سرویس های سایان گرافیک با همکاری شما در تیم خلاقیت و ایده پردازی انجام می شود و تمامی خدمات برند سازی تلاش بر این دارد تا به آینده ای موفق و متفاوت از رقبای خود داشته باشید .
                        سرویس هایی مانند :طراحی کارت ویزیت، اوراق اداری، کاتلوگ و بروشور، عکاسی اختصاصی و طراحی سایت تنها خدماتی نیستند که شرکت تبلیغاتی سایان گرافیک ارائه میدهد، با توجه به سفارش شما ایده هایی ناب که تا کنون در هیچ جایی اجرا نشده و شیوه ای متفاوت نسبت به سایر آژانس های تبلیقاتی دارد با همکاری شما و تیم خلاق ما سرویس های تاثیر گذاری ارائه خواهد شد.
                    </h3>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-primary">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bullseye fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-primary"><h4 class="service-heading">ایده های ناب</h4></a>
                    <p>خلاقیت کشف ایده های جدید می باشد .خلاقیت شامل دو فرایند: تفکرو سپس تولید است.اگر ایده ای داری، اما به آنها عمل نمیکنی پس شما فردی رویایی هستی اما می تونی خلاق باشی. خلاقیت مرحله اول برای شروع یک کار جدید است. ایجاد کاری متفاوت و تازه نه تنها باعث پیشرفت ما نسبت به رقبا میشه بلکه باعث شهرت و شناخته شدن در قشرها و حیطه های مختلفی از جامعه و یا حتی جهان خواهد شد. </p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-success">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-success"><h4 class="service-heading">لوگویی بی نظیر</h4></a>
                    <p>لوگو یا نشانه (آرم) تاثیر زیادی در مخاطب دارد. با خلق لوگویی مناسب به قلب و ذهن مخاطب خود نفوذ کنید. نشانه یا آرم در یک نگاه مفهوم یک برند تجاری یا یک شرکت  را بیان میکنه پس چقدرمهمه که در طراحی نشانه یا لوگو دقت زیادی بشه و تمام قواعد طراحی رعایت گردد.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-danger">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-danger"><h4 class="service-heading">سایتی چشمگیر</h4></a>
                    <p>یک وب سایت می تواند نقش چشمگیری درتبلیغات داشته باشد. سایتی که طراحی گرافیکی، اصول رنگ پردازی و اصول فنی آن براساس متدهای روز دنیاست، برند یا شرکتهای تجاری را در کمترین زمان و راحت ترین شکل به کاربران در همه جای دنیا در حالی که در منزل، یا محل کار یا مسافرت هستند معرفی میکند. با پیشرفت چشمگیر اطلاعات و تکنولوژی شما نیز به همراه جدید ترین ها پیشرفت خواهید کرد.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-warning">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-clipboard fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-warning"><h4 class="service-heading">اوراق اداری</h4></a>
                    <p>اوراق اداری کاغذهایی هستند که در امور اداری و پرسنلی یک شرکت تجاری یا سازمان برای فعالیت مالی و غیر مالی استفاده می شوند. این اوراق باید شبیه به یکدیگر و مرتبط با هم طراحی و چاپ شوند، تا بتونن حس اعتماد رو با توجه به المان های ثابت بوجود بیارن. اوراق اداری شان و شخصیت یک شرکت و یا سازمان  رو معرفی میکنه و در مرحله ارتباط با مشتریان تاثیر مثبتی رو بوجود میاره.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-info">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-info"><h4 class="service-heading">کاتالوگی ایده آل</h4></a>
                    <p>طراحی کاتالوگ شامل اطلاعات کاملی از تصاویر محصولات شما، شعار تبلیغاتی و فهرستی مناسب و منظم که در شکل یک دفترچه جذاب است، به مقایسه و انتخاب محصولات کمک میکند و باعث میشه مخاطب با دیدن محصول در کمترین زمان ممکن پیام را دریافت کرده و تجسم ایده آلی در ذهنش ایجاد بشه و به استفاده از آن فکر کند، پس بايد از جلوه هاي بصري و گرافيک بيشتري نسبت به بروشور برخوردار باشه.</p>
                </div>
                <div class="col-md-4">
                    <a href="/services/" class="fa-stack fa-4x text-primary">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                    </a>
                    <a href="/services/" class="text-primary"><h4 class="service-heading">عکاسی و تبلیغات</h4></a>
                    <p>معمولا عکس های پرتره،لباس،مواد غذایی و حتی افکت های ویژه توجه هر کسی رو جلب میکنه داشتن یه عکس حرفه ای و خوب باعث میشه دیگران حتی با یک نگاه تصویر همیشه تو ذهنشون ماندگار شه و هروقت دنبال نیازشون بودن اولین تصویر عکس محصول ما باشه که تو ذهنشون شکل میگیره.</p>
                </div>
            </div>
        </div>
    </section>